<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lo sentimos, página no encontrada 404</title>
</head>
<body>
    <h1>Oops! página no encontrada 404</h1>

    <!-- En un error 404 solo se aplican error, status, timestamp y la ruta -->
    <div th:text="${error}"></div>
    <div th:text="${status}"></div>
    <div th:text="${timestamp}"></div>
    <hr>
    <div th:text="${path}"></div>
</body>
</html>